/********************** 
        GENERAL
***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/********************** 
        MAIN
***********************/
main{
    height: calc(100vh - 150px);
    width: 100%;
    overflow-x: auto;

    display: flex;
}
nav{
    width: 300px;
    height: 100%;
}
#menu-song{
    flex-grow: 1;
    height: 100%;
}




/* DEBUG */
main{
    background-color: blueviolet;
}
nav{
background-color: aqua;
}
#menu-song{
    background-color: chartreuse;
}
/********************** 
        PLAYER
***********************/
#player{
    height: 150px;
    width: 100%;
}





/* DEBUG */
#player{
    background-color: beige;
}

