/********************** 
        GENERAL
***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}


/*********************************** 
                MAIN
***********************************/
main{
    height: calc(100vh - 100px);
    width: 100%;
    overflow-x: auto;

    display: flex;
}


/********************** 
NAV BAR ON THE LEFT
***********************/
nav{
    width: 250px;
    height: 100%;
    background-color: #000;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.home{
    height: 200px;
    color: white;
}
.home .svg-logo{
    padding: 10px 15px;
    width: 83%;
}
.playlist{
    height: calc(100% - 300px);
}
.user{
    height: 100px;
}
.home .svg img{
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
.home .svg{
    padding: 4px 15px;
}
.home a{
    color: white;
    display: block;
}
.home .element-select{
    border-left: 3px solid #adff2f;
    padding-left: 12px;
}

/********************** 
SECTION ON THE RIGHRT
***********************/
.menu-song{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
}

/* upper apgrade */
.upgrade{
    height: 100px;
    width: 100%;
    opacity: .5;
    background-color: black;
    position: sticky;
    top: 0;
}
/* category */
.category{
    /* debug */
    height: 50px;
}

/* list of songs */

.songs-category{
    
    /* debug */
    min-height: 200px;
    width: 100%;
}




/********************** 
        PLAYER
***********************/
.player{
    height: 100px;
    width: 100%;
    background-color: #282828;

    display: flex;
    justify-content: space-between;
}

.name-song{
    flex-grow: 1;
}

.player-setting{
    flex-grow: 2;
}

.volume-setting{
    flex-grow: 1;
}






/* DEBUG */
.border{
    border: 2px solid white;
}